.icon_design-postjob{
    padding: 14px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 40px;
    color: #1967d2;
    text-align: center;
    background-color: rgba(25,103,210,.1);
} 

.icon_design-postjob_red{
    padding: 14px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 40px;
    color: #DC3545;
    text-align: center;
    background-color: rgba(25,103,210,.1);
} 

.icon_design-postjob_yellow{
    padding: 14px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 40px;
    color: rgb(199, 199, 6);
    text-align: center;
    background-color: rgba(25,103,210,.1);
} 